language: php
dist: trusty
php:
    - 5.4
    - 5.5
    - 5.6
    - 7
    - 7.1
    - 7.2
    - nightly
matrix:
    allow_failures:
        - php: nightly

before_script:
    - composer update

script: ./vendor/bin/phpunit -c tests/phpunit.xml
